.home {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
  }
  .content
{
   position: relative;
   width: 100%;
   display: flex;
   justify-content: space-between;
   align-items: center; 
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.content .textBox
{
    position: relative;
    margin-left: 10%;
    max-width: 700px;
}
.content .textBox h1
{
    color :RED;
    font-weight: 400;
    font-size: 40px;
}
.content .textBox h2
{
    color :#333;
    font-size: 1.5cm;
    line-height: 1.4cm;
    font-weight: 500;
    font-size: 70px;
}
.content .textBox button
{
    display: inline-block;
    margin-top: 20px;
    padding: 8px 20px;
    background: green;
    color: #fff;
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
    font-size: 30px;

}
.content a
{
    display: inline-block;
    margin-top: 20px;
    padding: 8px 20px;
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none; 
    position: relative;
    font-size: 40px;
}
.content p {
  font-size: 30px;
}
.content .imgBox
{
    width: 1000px;
    height: 600px;
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
    margin-top: 50px;
    
}
.content .imgBox img
{
    max-width: 900px;
    max-height: 900px;
}
  .home .mostPopular {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 60px;
    margin-right: 60%;
  }

  .home .trending {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 60px;
    margin-right: 70%;
  }
  
  .popularList {
    width: 70vw;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    place-items: center;
    margin-right: 20%;
  }

  .trendingList {
    width: 60vw;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    place-items: center;
    margin-right: 15%;
  }


  .popularItem {
    border-radius: 15px;
    width: 300px;
    height: 350px;
    margin: 20px;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  }

  .trendingItem {
    border-radius: 15px;
    width: 300px;
    height: 380px;
    margin: 20px;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  }
  .popularItem:hover {
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.5);
    transition: 0.3s ease-in;
    cursor: pointer;
  }

  .trendingItem:hover {
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.5);
    transition: 0.3s ease-in;
    cursor: pointer;
  }
  
  .popularItem div {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 100%;
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .trendingItem div {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 100%;
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .popularItem h1,
  .popularItem p ,
  .popularItem p{
    margin-left: 20px;
  }
  
  @media only screen and (max-width: 1300px) {
    .popularList {
      grid-template-columns: 1fr 1fr;
    }
  }
  
  @media only screen and (max-width: 800px) {
    .popularList {
      grid-template-columns: 1fr;
    }
  }

  .home .judul button{
    display: inline-block;
    margin-top: 40px;
    padding: 8px 20px;
    background: green;
    color: #fff;
    border-radius: 10px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
    font-size: 25px;
  }

  .home .judul .recom{
    display: inline-block;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 60px;
    margin-right: 1550px;
  }