@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    font-family: 'Poppins';
    height: 100%;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.left-banner {
    background-image: url('../src/assets/login-left-banner.jpg');
}

.rounded-img {
    border-radius: 50%;

    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.logo {
    background-image: url('../src/assets/CapitalDColonWide.png');
}

.profile {
    background-image: url('../src/assets/1197554.jpg');
}